<!DOCTYPE html>

<html>
<head>
  <title>RSpectacles</title>
  <link rel='stylesheet' href='<%= url 'css/style.css' %>' />
</head>
<body>
  <h1>RSpectacles is Born!</h1>

  <form>
    <label><input type="radio" name="mode" value="size"> Time</label>
    <label><input type="radio" name="mode" value="count" checked> Count</label>
  </form>

  <div class='example-wrapper'>
    <ul class='example-details'>
      <li class='js-name'></li>
      <li>Line Number: <span class='js-line_number'></span></li>
      <li>Status: <span class='js-status'></span></li>
      <li>
        <span class='js-value'></span> <span class='js-time_or_count'></span>
      </li>
    </ul>
  </div>

  <script type='text/javascript' src='<%= url '/js/d3.js' %>'></script>
  <script type='text/javascript' data-main='<%= url 'js/script' %>' src='<%= url '/js/require.js' %>'></script>
</body>
</html>
